<nav class="navbar navbar-custom">
    <h1 class="nav-h1"><i>Perform Dashboard</i></h1>
</nav>

<div class="mx-auto mt-5 col-10 col-md-10 col-lg-10">
<table class="table table-striped table-bordered">
    <thead>
        <tr class="table-main-heading">
            <th colspan="10">Feed Load Status</th>
        </tr>
        <tr class="table-sub-heading">
            <th scope="col">Feed Name</th>
            <th scope="col">Performance System ID</th>
            <th scope="col">Effective date</th>
            <th scope="col">Source</th>
            <th scope="col">Valuation Point</th>
            <th scope="col">Currency</th>
            <th scope="col">Currency Type</th>
            <th scope="col">NAV</th>
            <th scope="col">TNA</th>
            <th scope="col">Update time</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>Data</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        
    
</table>

<br><br>

<table class="table table-striped table-bordered">
    <thead>
        <tr >
            <th class="table-main-heading" colspan="6">BONE Import Status</th>
        </tr>
        <tr>
            <th scope="col">Effective Date</th>
            <th scope="col">NAV</th>
            <th scope="col">TNA</th>
            <th scope="col">First Import</th>
            <th scope="col">Last Import</th>
            <th scope="col">Alert me</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Data</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<br><br>

<table class="table table-striped table-bordered">
    <thead>
        <tr >
            <th class="table-main-heading" colspan="5">BONE Calculation Status</th>
        </tr>
        <tr>
            <th scope="col">Cycle Date</th>
            <th scope="col">Effective date</th>
            <th scope="col">Calculation Status</th>
            <th scope="col">Update time</th>
            <th scope="col">Alert me</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Data</td>
            <td>Data</td>
            <td>Data</td>
            <td>Data</td>
            <td>Data</td>
        </tr>
    </tbody>
</table>
<br><br>

<table class="table table-striped table-bordered">
    <thead>
        <tr >
            <th class="table-main-heading" colspan="5">PRDB Data availability</th>
        </tr>
        <tr>
            <th scope="col">Effective Date</th>
            <th scope="col">Asset Availability</th>
            <th scope="col">Returns Availability</th>
            <th scope="col">Risk Measure Availability</th>
            <th scope="col">Alert me</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Data</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    
</table>
<br><br>

<table class="table table-striped table-bordered">
    <thead>
        <tr >
            <th class="table-main-heading" colspan="4">Data Processing Status</th>
        </tr>
        <tr>
            <th scope="col">FeedLoad Status</th>
            <th scope="col">BONE Import Status</th>
            <th scope="col">BONE CALC Status</th>
            <th scope="col">PRDB Data Availability</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Data</td>
            <td>Data</td>
            <td>Data</td>
            <td>Data</td>
        </tr>
    </tbody>
</table>
</div>
